.main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E47C4C;
    #logo {
      margin-left: 1rem;
      text-decoration: none;
      color: white;
      font-size: 2rem;
    }
    .user-info {
      display: flex;
      align-items: center;
      a, button {
        margin-left: 1rem;
        cursor: pointer;
      }
    }

  }
  .content {
    display: flex;
    flex-direction: row;
    .library {
      flex-basis: 70%;
      .library_tools {
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #A9A9A9;
      }
      .library_content {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-around;
        background-color: #D6D66A;
        .content_book-item {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-basis: 30%;
          background-color: green;
          margin: 1rem 0 1rem 0;
          .book-image {
            width: 50%;
          }
        }
      }
    }
    .toReadList {
      flex-basis: 30%;
      background-color: #C1C1C1;
      header {
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        background-color: #F6B282;
        h3 {
          margin: 0;
          padding-left: 2rem;
          text-align: center;
        }
      }
      .toReadList_tools {
        .toDo-panel {
          margin-top: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          padding: 2rem;
          form {
            display: flex;
            flex-direction: row;
            justify-content: center
          }
          .tools_panel {
            margin-top: 1rem;
          }
          p {
            text-align: center;
          }
          .unstyled {
            list-style-type:none;
            .add-library {
              z-index: 999;
              position: absolute;
            }
            .done-true {
              text-decoration: line-through;
              color: grey;
            }
            .todo {
              cursor: pointer;
            }
          }
          .activeBookForm {
            display: flex;
            flex-direction: column;
            justify-content: center;
            input.ng-invalid.ng-touched {
              background-color: #FA787E;
            }
            input.ng-valid.ng-touched {
              background-color: #78FA89;
            }
            .panel-radio {
              display: flex;
              flex-direction: row;
            }
          }
        }
      }
    }
  }
}

.error-mesage {
  color: #EF5050;
}

.login {
  display: flex;
  flex-direction: row;
  margin-top: 20vh;
  justify-content: center;
  form {
    padding: 1rem;
    background-color: grey;
    width: 20%;
    input {
      margin-bottom: 1rem;
      border: none;
      width: 100%;
      height: 1.7rem;
    }
    .login-submit {
        background-color: #EF5050;
        margin-bottom: 0;
        cursor: pointer;
        color: white;
      }
  }
  .error-logIn {
    color: #EF5050;
    text-align: center;
  }
}
