<section class="main" ng-controller="DataController as data">
    <header class="main_header">
      <a href="#" id="logo">Logo</a>
      <div class="user-info">
        <h3>UserName</h3>
        <button type="button" ng-click="data.logOutUser()">Log out</button>
      </div>
    </header>
    <section class="content">
      <div class="library">
        <div class="library_tools">
          <input type="search" placeholder="Search" ng-model="query">
          <genre-select></genre-select>
          <sort-select></sort-select>
        </div>
        <div class="library_content">
          <article ng-repeat="book in books | filter:query | orderBy:orderProp | filter:genre " class="content_book-item" ng-click="data.infoBook(book)" ng-hide="data.isSelected(true)">
            <header>
              <h3>{{book.name}}</h2>
            </header>
            <img ng-src="{{book.imageUrl}}" class="book-image">
            <h4>{{book.author}}</h4>
            <p>Rating Stars: {{book.rating_stars}}</p>
            <span>{{data.ifReadBook(book)}}</span>
          </article>
          <form ng-show="data.isSelected(true)">
            <header>
              <h3>{{data.currentBook.name}}</h2>
            </header>
            <img ng-src="{{book.imageUrl}}" class="book-image">
            <h4>{{data.currentBook.author}}</h4>
            <p>Rating Stars: {{data.currentBook.rating_stars}}</p>
            <input type="button" value="Done" ng-click="data.selectTab(false)">
          </form>
        </div>
      </div>
      <section class="toReadList">
        <header>
          <h3>To read list</h3>
        </header>
        <div class="toReadList_tools" >
          <div class="toDo-panel" ng-controller="TodoListController as todoList">
            <div class="mainPanel" ng-show="isSelected(false)">
              <form ng-submit="todoList.addTodo()">
                <input type="text" ng-model="todoList.todoText"  size="30"
                  placeholder="add new todo here">
                <input class="btn-primary" type="submit" value="add">
              </form>
              <div class="tools_panel">
                <button ng-click="todoList.setRead(all)">All</button>
                <button ng-click="todoList.setRead(true)">Complete</button>
                <button ng-click="todoList.setRead(false)">Unread</button>
              </div>
              <p>
                <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
              [ <a href="" ng-click="todoList.archive()">archive</a> ]
              </p>
              <ul class="unstyled">
                <li ng-repeat="todo in todos | filter:todoList.read">
                  <label class="checkbox">
                    <input type="checkbox" ng-model="todo.done">
                    <span class="done-{{todo.done}} todo" ng-click="todoList.readBookDone(todo)" ng-mouseenter="todoList.selectTodoItem(todo.name)">{{todo.name}}</span>
                    <button class="add-library" ng-click="todoList.todoInfo(todo)" ng-show="todoList.isSelectedTodoItem(todo.name) && (todo.save_library != 'save')">add library ?</button>
                  </label>
                </li>
              </ul>
            </div>

            <form name="formBook" class="activeBookForm" ng-submit="update(currentTodoBook)" ng-show="isSelected(true)" ng-controller="formAddCntrl" novalidate>
              Name: <input type="text" ng-model="currentTodoBook.name" name="name" required="" /><br />
              <div ng-show="formBook.$submitted || formBook.name.$touched">
                <span ng-show="formBook.name.$error.required" class="error-mesage">Tell us your book name.</span>
                <span ng-show="formBook.name.$error.text" class="error-mesage">This is not a valid name.</span>
              </div>
              Autor: <input type="text" ng-model="currentTodoBook.author" name="author" required="" /><br />
              <div ng-show="formBook.$submitted || formBook.author.$touched">
                <span ng-show="formBook.author.$error.required" class="error-mesage">Tell us your book author.</span>
                <span ng-show="formBook.author.$error.text" class="error-mesage">This is not a valid name author.</span>
              </div>
              Rating-stars: <input type="number" name="rating_stars" min="0" max="10" ng-model="currentTodoBook.rating_stars"/><br />
              Url book cover<input type="text" name="imageUrl" ng-model="currentTodoBook.imageUrl"/><br />
              <div class="panel-radio">
                Genre: <input type="radio" name="genre" ng-model="currentTodoBook.genre" value="novel" required="" />novel
                <input type="radio" name="genre" ng-model="currentTodoBook.genre" value="detective" required=""/>detective <br />
                <input type="radio" name="genre" ng-model="currentTodoBook.genre" value="horor" required=""/>horor<br />
              </div>
              <div ng-show="formBook.$submitted || formBook.genre.$touched">
                <span ng-show="formBook.genre.$error.required" class="error-mesage">Tell us your book genre.</span>
              </div>
              <input type="submit"  value="Save book" />
            </form>
          </div>
        </div>
      </section>
    </section>
  </section>
