<section class="login">
  <form name="formLogIn" ng-submit="logInUser(currentUser)">
    <p class="error-logIn"></p>
    <div ng-show="formLogIn.$submitted || formLogIn.email.$touched">
      <span ng-show="formLogIn.email.$error.required" class="error-mesage">Tell us your email.</span>
      <span ng-show="formLogIn.email.$error.text" class="error-mesage">This is not a valid name.</span>
    </div>
    <input type="text" ng-model="currentUser.email" name="email" required="" placeholder="Email"/>
    <div ng-show="formLogIn.$submitted || formLogIn.password.$touched">
      <span ng-show="formLogIn.password.$error.required" class="error-mesage">Tell us your password.</span>
      <span ng-show="formLogIn.password.$error.text" class="error-mesage">This is not a valid password.</span>
    </div>
    <input type="text" ng-model="currentUser.password" name="password" required="" placeholder="Password"/>

    <input type="submit" class="login-submit" value="LogIn" />
  </form>
</section>
