<label for="sort-filter"> Sort by:
<select id="sort-filter" placeholder="Sort by" ng-model="orderProp">
  <option ng-repeat="filterSort in filterSortCntrl.sortFilter" value="{{filterSort.value}}">{{filterSort.name}}</option>
</select>
<!-- <select id="sort-filter"  placeholder="Sort by" ng-options="filterSort.name for filterSort in filterSortCntrl.sortFilter track by filterSort.value" ng-model="orderProp">
</select> -->
</label>
